.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__shadow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75);
  }

  &__x {
    position: absolute;
    color: white;
    font-size: 3rem;
    top: 0;
    right: 10px;
    z-index: 105;
  }

  &__content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 44%;
    max-height: 80%;
    width: 100%;
    overflow-y: auto;
    z-index: 101;
    border-radius: 25px;

    img {
      height: 100%;
      border-radius: 25px;
      width: 100%;
      margin-top: 15px;
    }
  }
  &__note {
    border-radius: 25px;
    background-color: white;
    padding: 20px;
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    &__name {
      margin-right: 50px;
      align-self: flex-end;
    }
  }
}
