.note {
    border: 2px black solid;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column;
    width: 100%;
    height: 100%;
    padding: 18px 10px 38px 10px;

  hr {
    border: 3px solid black;
    border-radius: 5px;
    margin: 3px 0;
  }

  &__bar1 {
    width: 80%;
  }

  &__bar2 {
    width: 60%;
  }

  &__bar3 {
    width: 60%;
  }

  &__bar4 {
    width: 80%;
  }

  &__bar5 {
    width: 30%;
  }
  }
