.preview {
  display: flex;
  flex-flow: column;
  margin-bottom: 5px;
  animation: 500ms fade-in cubic-bezier(0.04, 0.04, 0.12, 0.96);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    margin-bottom: 3px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 70px;
    border-radius: 25px;
    background: rgb(255,81,81);
    background: linear-gradient(90deg, rgba(255,81,81,1) 65%, rgba(255,124,27,1) 100%);
    font-size: 10px;
    color: #fff;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
