.preview {
  display: flex;
  flex-flow: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 70px;
    border-radius: 25px;
    background-color: #ccc;
    font-size: 10px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }
}
